In [1]:
# imports

# standard import of pandas
import pandas as pd

In [2]:
# getting dataframes

%store -r start_orders
%store -r start_order_process
%store -r start_intern_study
%store -r start_campaign

In [3]:
clean_orders = start_orders.copy()
clean_order_process = start_order_process.copy()
clean_intern_study = start_intern_study.copy()
clean_campaign = start_campaign.copy()

In [4]:
# function to make all the columns lower and snake case

def columns_format(data_frame):
	data_frame.columns = data_frame.columns.str.lower()
	data_frame.columns = data_frame.columns.str.replace(" ", "_")

In [5]:
columns_format(clean_orders)
columns_format(clean_order_process)
columns_format(clean_intern_study)
columns_format(clean_campaign)

In [6]:
# dropping columns in orders.csv

#clean_orders.drop(["index","customer_id", "customer_name", "origin_channel","country/region", "city", "postal_code", "category", "sub-category", "product_id", "sales", "quantity", "discount", "profit"], axis=1, inplace=True)
clean_orders.drop_duplicates(inplace=True)
clean_orders.head(2)
clean_orders.duplicated().value_counts()

False    9994
Name: count, dtype: int64

In [7]:
# dropping row_id

clean_order_process.drop("row_id", axis=1, inplace=True)
clean_order_process.drop_duplicates(inplace=True)
clean_order_process.head()
clean_order_process.duplicated().value_counts()

False    3003
Name: count, dtype: int64

In [8]:
# dropping duplicates in intern data

clean_intern_study.drop_duplicates(inplace=True)
clean_intern_study.head(2)
clean_intern_study.duplicated().value_counts()

False    204
Name: count, dtype: int64

In [9]:
# dropping columns in campaign data

clean_campaign.drop(["customer_name"], axis=1, inplace=True)
clean_campaign.head(2)

         order_id arrival_scan_date
0  CA-2019-109666        03/05/2019
1  CA-2019-138933        03/05/2019

In [10]:
#clean_orders.set_index("order_id", inplace=True)
#clean_order_process.set_index("order_id", inplace=True)

#display(clean_orders.head(30))
#display(clean_order_process.head(30))

#clean_orders.shape 

#clean_orders["ship_mode"].size
clean_order_process["ship_mode"].size

3003

In [11]:
first_merge = clean_orders.merge(clean_order_process, how="outer", on="order_id")

first_merge

,index,order_id,order_date_x,ship_mode_x,customer_id,customer_name,origin_channel,country/region,city,state,...,category,sub-category,product_id,sales,quantity,discount,profit,order_date_y,on_truck_scan_date,ship_mode_y
0,2718,CA-2017-100006,7/9/2017,Standard Class,DK-13375,Dennis Kane,Email,United States,New York City,New York,...,Special Projects Muesil,Only Oats,TEC-PH-10002075,377.970,3,0.0,109.6113,NaN,NaN,NaN
1,6289,CA-2017-100090,8/7/2017,Standard Class,EB-13705,Ed Braxton,Sales,United States,San Francisco,California,...,Power Muesli,Super Fibre Boost,OFF-BI-10001597,196.704,6,0.2,68.8464,NaN,NaN,NaN
2,6288,CA-2017-100090,8/7/2017,Standard Class,EB-13705,Ed Braxton,Sales,United States,San Francisco,California,...,Toasted Muesli,Sweetened,FUR-TA-10003715,502.488,3,0.2,-87.9354,NaN,NaN,NaN
3,9515,CA-2017-100293,14/3/2017,Standard Class,NF-18475,Neil Franz√∂sisch,Facebook,United States,Jacksonville,Florida,...,Power Muesli,Nuts and more,OFF-PA-10000176,91.056,6,0.2,31.8696,NaN,NaN,NaN
4,3084,CA-2017-100328,28/1/2017,Standard Class,JC-15340,Jasper Cacioppo,Email,United States,New York City,New York,...,Power Muesli,Super Fibre Boost,OFF-BI-10000343,3.928,1,0.2,1.3257,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9991,5935,US-2020-169551,7/7/2020,First Class,RL-19615,Rob Lucas,Email,United States,Philadelphia,Pennsylvania,...,Special Projects Muesil,Gluten Free,TEC-AC-10003033,527.920,2,0.2,85.7870,7/7/2020,10/07/2020,Express
9992,5931,US-2020-169551,7/7/2020,First Class,RL-19615,Rob Lucas,Email,United States,Philadelphia,Pennsylvania,...,Power Muesli,Nuts and more,OFF-PA-10004100,15.552,3,0.2,5.4432,7/7/2020,10/07/2020,Express
9993,5932,US-2020-169551,7/7/2020,First Class,RL-19615,Rob Lucas,Email,United States,Philadelphia,Pennsylvania,...,Special Projects Muesil,Only Oats,TEC-PH-10001363,683.988,2,0.4,-113.9980,7/7/2020,10/07/2020,Express
9994,5933,US-2020-169551,7/7/2020,First Class,RL-19615,Rob Lucas,Email,United States,Philadelphia,Pennsylvania,...,Power Muesli,Steel Cut,OFF-ST-10004835,13.392,3,0.2,1.0044,7/7/2020,10/07/2020,Express
9995,5930,US-2020-169551,7/7/2020,First Class,RL-19615,Rob Lucas,Email,United States,Philadelphia,Pennsylvania,...,Toasted Muesli,With Fruit,FUR-BO-10001519,87.210,3,0.5,-45.3492,7/7/2020,10/07/2020,Express

In [12]:
second_merge = first_merge.merge(clean_intern_study, how="outer", on="order_id")

second_merge

,index,order_id,order_date_x,ship_mode_x,customer_id,customer_name,origin_channel,country/region,city,state,...,product_id,sales,quantity,discount,profit,order_date_y,on_truck_scan_date,ship_mode_y,ready_to_ship_date,pickup_date
0,2718,CA-2017-100006,7/9/2017,Standard Class,DK-13375,Dennis Kane,Email,United States,New York City,New York,...,TEC-PH-10002075,377.970,3,0.0,109.6113,NaN,NaN,NaN,NaN,NaN
1,6289,CA-2017-100090,8/7/2017,Standard Class,EB-13705,Ed Braxton,Sales,United States,San Francisco,California,...,OFF-BI-10001597,196.704,6,0.2,68.8464,NaN,NaN,NaN,NaN,NaN
2,6288,CA-2017-100090,8/7/2017,Standard Class,EB-13705,Ed Braxton,Sales,United States,San Francisco,California,...,FUR-TA-10003715,502.488,3,0.2,-87.9354,NaN,NaN,NaN,NaN,NaN
3,9515,CA-2017-100293,14/3/2017,Standard Class,NF-18475,Neil Franz√∂sisch,Facebook,United States,Jacksonville,Florida,...,OFF-PA-10000176,91.056,6,0.2,31.8696,NaN,NaN,NaN,NaN,NaN
4,3084,CA-2017-100328,28/1/2017,Standard Class,JC-15340,Jasper Cacioppo,Email,United States,New York City,New York,...,OFF-BI-10000343,3.928,1,0.2,1.3257,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9991,5935,US-2020-169551,7/7/2020,First Class,RL-19615,Rob Lucas,Email,United States,Philadelphia,Pennsylvania,...,TEC-AC-10003033,527.920,2,0.2,85.7870,7/7/2020,10/07/2020,Express,NaN,NaN
9992,5931,US-2020-169551,7/7/2020,First Class,RL-19615,Rob Lucas,Email,United States,Philadelphia,Pennsylvania,...,OFF-PA-10004100,15.552,3,0.2,5.4432,7/7/2020,10/07/2020,Express,NaN,NaN
9993,5932,US-2020-169551,7/7/2020,First Class,RL-19615,Rob Lucas,Email,United States,Philadelphia,Pennsylvania,...,TEC-PH-10001363,683.988,2,0.4,-113.9980,7/7/2020,10/07/2020,Express,NaN,NaN
9994,5933,US-2020-169551,7/7/2020,First Class,RL-19615,Rob Lucas,Email,United States,Philadelphia,Pennsylvania,...,OFF-ST-10004835,13.392,3,0.2,1.0044,7/7/2020,10/07/2020,Express,NaN,NaN
9995,5930,US-2020-169551,7/7/2020,First Class,RL-19615,Rob Lucas,Email,United States,Philadelphia,Pennsylvania,...,FUR-BO-10001519,87.210,3,0.5,-45.3492,7/7/2020,10/07/2020,Express,NaN,NaN

In [13]:
final_merge = second_merge.merge(clean_campaign, how="outer", on="order_id")
final_merge

,index,order_id,order_date_x,ship_mode_x,customer_id,customer_name,origin_channel,country/region,city,state,...,sales,quantity,discount,profit,order_date_y,on_truck_scan_date,ship_mode_y,ready_to_ship_date,pickup_date,arrival_scan_date
0,2718,CA-2017-100006,7/9/2017,Standard Class,DK-13375,Dennis Kane,Email,United States,New York City,New York,...,377.970,3,0.0,109.6113,NaN,NaN,NaN,NaN,NaN,NaN
1,6289,CA-2017-100090,8/7/2017,Standard Class,EB-13705,Ed Braxton,Sales,United States,San Francisco,California,...,196.704,6,0.2,68.8464,NaN,NaN,NaN,NaN,NaN,NaN
2,6288,CA-2017-100090,8/7/2017,Standard Class,EB-13705,Ed Braxton,Sales,United States,San Francisco,California,...,502.488,3,0.2,-87.9354,NaN,NaN,NaN,NaN,NaN,NaN
3,9515,CA-2017-100293,14/3/2017,Standard Class,NF-18475,Neil Franz√∂sisch,Facebook,United States,Jacksonville,Florida,...,91.056,6,0.2,31.8696,NaN,NaN,NaN,NaN,NaN,NaN
4,3084,CA-2017-100328,28/1/2017,Standard Class,JC-15340,Jasper Cacioppo,Email,United States,New York City,New York,...,3.928,1,0.2,1.3257,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9991,5935,US-2020-169551,7/7/2020,First Class,RL-19615,Rob Lucas,Email,United States,Philadelphia,Pennsylvania,...,527.920,2,0.2,85.7870,7/7/2020,10/07/2020,Express,NaN,NaN,NaN
9992,5931,US-2020-169551,7/7/2020,First Class,RL-19615,Rob Lucas,Email,United States,Philadelphia,Pennsylvania,...,15.552,3,0.2,5.4432,7/7/2020,10/07/2020,Express,NaN,NaN,NaN
9993,5932,US-2020-169551,7/7/2020,First Class,RL-19615,Rob Lucas,Email,United States,Philadelphia,Pennsylvania,...,683.988,2,0.4,-113.9980,7/7/2020,10/07/2020,Express,NaN,NaN,NaN
9994,5933,US-2020-169551,7/7/2020,First Class,RL-19615,Rob Lucas,Email,United States,Philadelphia,Pennsylvania,...,13.392,3,0.2,1.0044,7/7/2020,10/07/2020,Express,NaN,NaN,NaN
9995,5930,US-2020-169551,7/7/2020,First Class,RL-19615,Rob Lucas,Email,United States,Philadelphia,Pennsylvania,...,87.210,3,0.5,-45.3492,7/7/2020,10/07/2020,Express,NaN,NaN,NaN

In [14]:
#final_merge.insert(2, "order_date", final_merge["order_date_x"])
#final_merge.drop(["order_date_x", "order_date_y"], axis=1, inplace=True)
final_merge.head(15)

,index,order_id,order_date_x,ship_mode_x,customer_id,customer_name,origin_channel,country/region,city,state,...,sales,quantity,discount,profit,order_date_y,on_truck_scan_date,ship_mode_y,ready_to_ship_date,pickup_date,arrival_scan_date
0,2718,CA-2017-100006,7/9/2017,Standard Class,DK-13375,Dennis Kane,Email,United States,New York City,New York,...,377.970,3,0.0,109.6113,NaN,NaN,NaN,NaN,NaN,NaN
1,6289,CA-2017-100090,8/7/2017,Standard Class,EB-13705,Ed Braxton,Sales,United States,San Francisco,California,...,196.704,6,0.2,68.8464,NaN,NaN,NaN,NaN,NaN,NaN
2,6288,CA-2017-100090,8/7/2017,Standard Class,EB-13705,Ed Braxton,Sales,United States,San Francisco,California,...,502.488,3,0.2,-87.9354,NaN,NaN,NaN,NaN,NaN,NaN
3,9515,CA-2017-100293,14/3/2017,Standard Class,NF-18475,Neil Franz√∂sisch,Facebook,United States,Jacksonville,Florida,...,91.056,6,0.2,31.8696,NaN,NaN,NaN,NaN,NaN,NaN
4,3084,CA-2017-100328,28/1/2017,Standard Class,JC-15340,Jasper Cacioppo,Email,United States,New York City,New York,...,3.928,1,0.2,1.3257,NaN,NaN,NaN,NaN,NaN,NaN
5,3836,CA-2017-100363,8/4/2017,Standard Class,JM-15655,Jim Mitchum,Sales,United States,Glendale,Arizona,...,2.368,2,0.2,0.8288,NaN,NaN,NaN,NaN,NaN,NaN
6,3837,CA-2017-100363,8/4/2017,Standard Class,JM-15655,Jim Mitchum,Sales,United States,Glendale,Arizona,...,19.008,3,0.2,6.8904,NaN,NaN,NaN,NaN,NaN,NaN
7,9441,CA-2017-100391,25/5/2017,Standard Class,BW-11065,Barry Weirich,Email,United States,New York City,New York,...,14.620,2,0.0,6.7252,NaN,NaN,NaN,NaN,NaN,NaN
8,6572,CA-2017-100678,18/4/2017,Standard Class,KM-16720,Kunst Miller,Email,United States,Houston,Texas,...,227.976,3,0.2,28.4970,NaN,NaN,NaN,NaN,NaN,NaN
9,6571,CA-2017-100678,18/4/2017,Standard Class,KM-16720,Kunst Miller,Email,United States,Houston,Texas,...,149.352,3,0.2,50.4063,NaN,NaN,NaN,NaN,NaN,NaN
10,6569,CA-2017-100678,18/4/2017,Standard Class,KM-16720,Kunst Miller,Email,United States,Houston,Texas,...,2.688,2,0.2,1.0080,NaN,NaN,NaN,NaN,NaN,NaN
11,6570,CA-2017-100678,18/4/2017,Standard Class,KM-16720,Kunst Miller,Email,United States,Houston,Texas,...,317.058,3,0.3,-18.1176,NaN,NaN,NaN,NaN,NaN,NaN
12,9020,CA-2017-100706,16/12/2017,Second Class,LE-16810,Laurel Elliston,Email,United States,Springfield,Virginia,...,99.980,2,0.0,7.9984,NaN,NaN,NaN,NaN,NaN,NaN
13,9021,CA-2017-100706,16/12/2017,Second Class,LE-16810,Laurel Elliston,Email,United States,Springfield,Virginia,...,29.460,6,0.0,9.7218,NaN,NaN,NaN,NaN,NaN,NaN
14,6316,CA-2017-100762,24/11/2017,Standard Class,NG-18355,Nat Gilpin,Sales,United States,Jackson,Michigan,...,196.620,2,0.0,96.3438,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
final_merge.loc(final_merge["ship_mode_x"].isin("NaN"))

TypeError: only list-like objects are allowed to be passed to isin(), you passed a `str`

In [52]:
#final_merge.insert(2, "ship_mode", final_merge["ship_mode_y"])
#final_merge.drop(["ship_mode_x", "ship_mode_y"], axis=1, inplace=True)
final_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5901 entries, 0 to 5900
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            5901 non-null   object
 1   order_date          5901 non-null   object
 2   ship_mode           5901 non-null   object
 3   state               5901 non-null   object
 4   region              5901 non-null   object
 5   on_truck_scan_date  5901 non-null   object
 6   ready_to_ship_date  418 non-null    object
 7   pickup_date         418 non-null    object
 8   arrival_scan_date   668 non-null    object
dtypes: object(9)
memory usage: 415.0+ KB

In [21]:
final_merge['order'] = pd.to_datetime(final_merge["order_date_x"], format="%d/%m/%Y")
final_merge['order_date_y'] = pd.to_datetime(final_merge["order_date_y"], format="%d/%m/%Y")
final_merge['ready_to_ship_date'] = pd.to_datetime(final_merge["ready_to_ship_date"], format="%d/%m/%Y")
final_merge['pickup_date'] = pd.to_datetime(final_merge["pickup_date"], format="%d/%m/%Y")
final_merge['arrival_scan_date'] = pd.to_datetime(final_merge["arrival_scan_date"], format="%d/%m/%Y")
final_merge['on_truck_scan_date'] = pd.to_datetime(final_merge["on_truck_scan_date"], format="%d/%m/%Y")

KeyError: 'order_date'

In [ ]:
%store clean_orders
%store clean_order_process
%store clean_intern_study
%store clean_campaign