In [1]:
# imports

# standard import of pandas
import pandas as pd

In [2]:
# getting dataframes

%store -r start_orders
%store -r start_order_process
%store -r start_intern_study
%store -r start_campaign

In [3]:
clean_orders = start_orders.copy()
clean_order_process = start_order_process.copy()
clean_intern_study = start_intern_study.copy()
clean_campaign = start_campaign.copy()

In [4]:
# function to make all the columns lower and snake case

def columns_format(data_frame):
	data_frame.columns = data_frame.columns.str.lower()
	data_frame.columns = data_frame.columns.str.replace(" ", "_")

In [5]:
columns_format(clean_orders)
columns_format(clean_order_process)
columns_format(clean_intern_study)
columns_format(clean_campaign)

In [6]:
# dropping columns in orders.csv

clean_orders.drop(["index","customer_id", "customer_name", "origin_channel","country/region", "city", "postal_code", "category", "sub-category", "product_id", "sales", "quantity", "discount", "profit"], axis=1, inplace=True)
clean_orders.head(2)

         order_id order_date     ship_mode       state   region
0  CA-2019-121755  16/1/2019  Second Class  California     West
1  CA-2019-118255  11/3/2019   First Class   Minnesota  Central

In [7]:
# dropping row_id

clean_order_process.drop("row_id", axis=1, inplace=True)

In [8]:
# dropping duplicates in intern data

clean_intern_study.drop_duplicates(inplace=True)
clean_intern_study.head(2)

         order_id ready_to_ship_date pickup_date
0  CA-2019-116540         02/09/2019  03/09/2019
2  CA-2019-129847         04/09/2019  04/09/2019

In [9]:
# dropping columns in campaign data

clean_campaign.drop(["customer_name"], axis=1, inplace=True)
clean_campaign.head(2)

         order_id arrival_scan_date
0  CA-2019-109666        03/05/2019
1  CA-2019-138933        03/05/2019

In [11]:
#clean_orders.set_index("order_id", inplace=True)
#clean_order_process.set_index("order_id", inplace=True)

display(clean_orders.head(1))
display(clean_order_process.head(1))

               order_date     ship_mode       state region
order_id
CA-2019-121755  16/1/2019  Second Class  California   West

               order_date on_truck_scan_date ship_mode
order_id
CA-2019-125206   3/1/2019         07/01/2019   Express

In [12]:
new_merge = clean_orders.merge(clean_order_process, on="order_id")

new_merge

ValueError: columns overlap but no suffix specified: Index(['order_date', 'ship_mode'], dtype='object')

In [ ]:
%store clean_orders
%store clean_order_process
%store clean_intern_study
%store clean_campaign

In [ ]:
	# replace date string
	if 'order_date' in data_frame.columns:
		data_frame['order_date'] = pd.to_datetime(data_frame["order_date"], format="%d/%m/%Y")
	elif 'ready_to_ship_date' in data_frame.columns:
		data_frame['ready_to_ship_date'] = pd.to_datetime(data_frame["ready_to_ship_date"], format="%d/%m/%Y")
	elif 'pickup_date' in data_frame.columns:
		data_frame['pickup_date'] = pd.to_datetime(data_frame["pickup_date"], format="%d/%m/%Y")
	elif 'arrival_scan_date' in data_frame.columns:
			data_frame['arrival_scan_date'] = pd.to_datetime(data_frame["arrival_scan_date"], format="%d/%m/%Y")
	elif 'on_truck_scan_date' in data_frame.columns:
		data_frame['on_truck_scan_date'] = pd.to_datetime(data_frame["on_truck_scan_date"], format="%d/%m/%Y")