In [1]:
# imports

# standard import of pandas
import pandas as pd

In [2]:
# getting dataframes

%store -r start_orders
%store -r start_order_process
%store -r start_intern_study
%store -r start_campaign

In [3]:
clean_orders = start_orders.copy()
clean_order_process = start_order_process.copy()
clean_intern_study = start_intern_study.copy()
clean_campaign = start_campaign.copy()

In [4]:
# function to make all the columns lower and snake case

def columns_format(data_frame):
	data_frame.columns = data_frame.columns.str.lower()
	data_frame.columns = data_frame.columns.str.replace(" ", "_")

In [5]:
columns_format(clean_orders)
columns_format(clean_order_process)
columns_format(clean_intern_study)
columns_format(clean_campaign)

In [6]:
# dropping columns in orders.csv

#clean_orders.drop(["index","customer_id", "customer_name", "origin_channel","country/region", "city", "postal_code", "category", "sub-category", "product_id", "sales", "quantity", "discount", "profit"], axis=1, inplace=True)
clean_orders.drop_duplicates(inplace=True)
clean_orders.head(2)
clean_orders.duplicated().value_counts()

False    9994
Name: count, dtype: int64

In [7]:
# dropping row_id

clean_order_process.drop("row_id", axis=1, inplace=True)
clean_order_process.drop_duplicates(inplace=True)
clean_order_process.head()
clean_order_process.duplicated().value_counts()

False    3003
Name: count, dtype: int64

In [8]:
# dropping duplicates in intern data

clean_intern_study.drop_duplicates(inplace=True)
clean_intern_study.head(2)
clean_intern_study.duplicated().value_counts()

False    204
Name: count, dtype: int64

In [9]:
# dropping columns in campaign data

clean_campaign.drop(["customer_name"], axis=1, inplace=True)
clean_campaign.head(2)

         order_id arrival_scan_date
0  CA-2019-109666        03/05/2019
1  CA-2019-138933        03/05/2019

In [10]:
#clean_orders.set_index("order_id", inplace=True)
#clean_order_process.set_index("order_id", inplace=True)

#display(clean_orders.head(30))
#display(clean_order_process.head(30))

#clean_orders.shape 

#clean_orders["ship_mode"].size
clean_order_process["ship_mode"].size

3003

In [11]:
first_merge = clean_orders.merge(clean_order_process, how="outer", on="order_id")

first_merge

,index,order_id,order_date_x,ship_mode_x,customer_id,customer_name,origin_channel,country/region,city,state,...,category,sub-category,product_id,sales,quantity,discount,profit,order_date_y,on_truck_scan_date,ship_mode_y
0,27,CA-2019-121755,16/1/2019,Second Class,EH-13945,Eric Hoffmann,Email,United States,Los Angeles,California,...,Special Projects Muesil,Gluten Free,TEC-AC-10003027,90.570,3,0.0,11.7741,16/1/2019,23/01/2019,Standard Processing
1,26,CA-2019-121755,16/1/2019,Second Class,EH-13945,Eric Hoffmann,Email,United States,Los Angeles,California,...,Power Muesli,Super Fibre Boost,OFF-BI-10001634,11.648,2,0.2,4.2224,16/1/2019,23/01/2019,Standard Processing
2,45,CA-2019-118255,11/3/2019,First Class,ON-18715,Odella Nelson,Sales,United States,Eagan,Minnesota,...,Special Projects Muesil,Gluten Free,TEC-AC-10000171,45.980,2,0.0,19.7714,11/3/2019,13/03/2019,Express
3,46,CA-2019-118255,11/3/2019,First Class,ON-18715,Odella Nelson,Sales,United States,Eagan,Minnesota,...,Power Muesli,Super Fibre Boost,OFF-BI-10003291,17.460,2,0.0,8.2062,11/3/2019,13/03/2019,Express
4,48,CA-2019-169194,20/6/2019,Standard Class,LH-16900,Lena Hernandez,Email,United States,Dover,Delaware,...,Special Projects Muesil,Gluten Free,TEC-AC-10002167,45.000,3,0.0,4.9500,20/6/2019,26/06/2019,Standard Processing
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9991,9760,CA-2019-146913,31/10/2019,Standard Class,SF-20965,Sylvia Foulston,Sales,United States,San Francisco,California,...,Toasted Muesli,With Nuts,FUR-CH-10001854,1403.920,5,0.2,70.1960,31/10/2019,06/11/2019,Standard Processing
9992,9787,US-2017-114377,5/11/2017,First Class,BG-11035,Barry Gonzalez,Email,United States,Hampton,Virginia,...,Toasted Muesli,With Nuts,FUR-CH-10004754,149.900,5,0.0,40.4730,NaN,NaN,NaN
9993,9808,CA-2020-107209,27/7/2020,Second Class,JW-15955,Joni Wasserman,Email,United States,Raleigh,North Carolina,...,Toasted Muesli,With Nuts,FUR-CH-10001146,194.848,4,0.2,12.1780,27/7/2020,05/08/2020,Standard Processing
9994,9830,US-2020-152842,16/7/2020,Standard Class,NF-18385,Natalie Fritzler,Email,United States,Charlotte,North Carolina,...,Toasted Muesli,With Nuts,FUR-CH-10004218,242.352,3,0.2,15.1470,16/7/2020,24/07/2020,Standard Processing
9995,9880,CA-2019-122581,21/8/2019,Standard Class,JK-15370,Jay Kimmel,Email,United States,New York City,New York,...,Toasted Muesli,With Nuts,FUR-CH-10002961,573.174,7,0.1,63.6860,21/8/2019,28/08/2019,Standard Processing

In [12]:
second_merge = first_merge.merge(clean_intern_study, how="outer", on="order_id")

second_merge

,index,order_id,order_date_x,ship_mode_x,customer_id,customer_name,origin_channel,country/region,city,state,...,product_id,sales,quantity,discount,profit,order_date_y,on_truck_scan_date,ship_mode_y,ready_to_ship_date,pickup_date
0,27,CA-2019-121755,16/1/2019,Second Class,EH-13945,Eric Hoffmann,Email,United States,Los Angeles,California,...,TEC-AC-10003027,90.570,3,0.0,11.7741,16/1/2019,23/01/2019,Standard Processing,NaN,NaN
1,26,CA-2019-121755,16/1/2019,Second Class,EH-13945,Eric Hoffmann,Email,United States,Los Angeles,California,...,OFF-BI-10001634,11.648,2,0.2,4.2224,16/1/2019,23/01/2019,Standard Processing,NaN,NaN
2,45,CA-2019-118255,11/3/2019,First Class,ON-18715,Odella Nelson,Sales,United States,Eagan,Minnesota,...,TEC-AC-10000171,45.980,2,0.0,19.7714,11/3/2019,13/03/2019,Express,NaN,NaN
3,46,CA-2019-118255,11/3/2019,First Class,ON-18715,Odella Nelson,Sales,United States,Eagan,Minnesota,...,OFF-BI-10003291,17.460,2,0.0,8.2062,11/3/2019,13/03/2019,Express,NaN,NaN
4,48,CA-2019-169194,20/6/2019,Standard Class,LH-16900,Lena Hernandez,Email,United States,Dover,Delaware,...,TEC-AC-10002167,45.000,3,0.0,4.9500,20/6/2019,26/06/2019,Standard Processing,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9991,9760,CA-2019-146913,31/10/2019,Standard Class,SF-20965,Sylvia Foulston,Sales,United States,San Francisco,California,...,FUR-CH-10001854,1403.920,5,0.2,70.1960,31/10/2019,06/11/2019,Standard Processing,NaN,NaN
9992,9787,US-2017-114377,5/11/2017,First Class,BG-11035,Barry Gonzalez,Email,United States,Hampton,Virginia,...,FUR-CH-10004754,149.900,5,0.0,40.4730,NaN,NaN,NaN,NaN,NaN
9993,9808,CA-2020-107209,27/7/2020,Second Class,JW-15955,Joni Wasserman,Email,United States,Raleigh,North Carolina,...,FUR-CH-10001146,194.848,4,0.2,12.1780,27/7/2020,05/08/2020,Standard Processing,NaN,NaN
9994,9830,US-2020-152842,16/7/2020,Standard Class,NF-18385,Natalie Fritzler,Email,United States,Charlotte,North Carolina,...,FUR-CH-10004218,242.352,3,0.2,15.1470,16/7/2020,24/07/2020,Standard Processing,NaN,NaN
9995,9880,CA-2019-122581,21/8/2019,Standard Class,JK-15370,Jay Kimmel,Email,United States,New York City,New York,...,FUR-CH-10002961,573.174,7,0.1,63.6860,21/8/2019,28/08/2019,Standard Processing,NaN,NaN

In [13]:
final_merge = second_merge.merge(clean_campaign, how="outer", on="order_id")
final_merge

,index,order_id,order_date_x,ship_mode_x,customer_id,customer_name,origin_channel,country/region,city,state,...,sales,quantity,discount,profit,order_date_y,on_truck_scan_date,ship_mode_y,ready_to_ship_date,pickup_date,arrival_scan_date
0,27,CA-2019-121755,16/1/2019,Second Class,EH-13945,Eric Hoffmann,Email,United States,Los Angeles,California,...,90.570,3,0.0,11.7741,16/1/2019,23/01/2019,Standard Processing,NaN,NaN,NaN
1,26,CA-2019-121755,16/1/2019,Second Class,EH-13945,Eric Hoffmann,Email,United States,Los Angeles,California,...,11.648,2,0.2,4.2224,16/1/2019,23/01/2019,Standard Processing,NaN,NaN,NaN
2,45,CA-2019-118255,11/3/2019,First Class,ON-18715,Odella Nelson,Sales,United States,Eagan,Minnesota,...,45.980,2,0.0,19.7714,11/3/2019,13/03/2019,Express,NaN,NaN,NaN
3,46,CA-2019-118255,11/3/2019,First Class,ON-18715,Odella Nelson,Sales,United States,Eagan,Minnesota,...,17.460,2,0.0,8.2062,11/3/2019,13/03/2019,Express,NaN,NaN,NaN
4,48,CA-2019-169194,20/6/2019,Standard Class,LH-16900,Lena Hernandez,Email,United States,Dover,Delaware,...,45.000,3,0.0,4.9500,20/6/2019,26/06/2019,Standard Processing,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9991,9760,CA-2019-146913,31/10/2019,Standard Class,SF-20965,Sylvia Foulston,Sales,United States,San Francisco,California,...,1403.920,5,0.2,70.1960,31/10/2019,06/11/2019,Standard Processing,NaN,NaN,11/11/2019
9992,9787,US-2017-114377,5/11/2017,First Class,BG-11035,Barry Gonzalez,Email,United States,Hampton,Virginia,...,149.900,5,0.0,40.4730,NaN,NaN,NaN,NaN,NaN,NaN
9993,9808,CA-2020-107209,27/7/2020,Second Class,JW-15955,Joni Wasserman,Email,United States,Raleigh,North Carolina,...,194.848,4,0.2,12.1780,27/7/2020,05/08/2020,Standard Processing,NaN,NaN,NaN
9994,9830,US-2020-152842,16/7/2020,Standard Class,NF-18385,Natalie Fritzler,Email,United States,Charlotte,North Carolina,...,242.352,3,0.2,15.1470,16/7/2020,24/07/2020,Standard Processing,NaN,NaN,NaN
9995,9880,CA-2019-122581,21/8/2019,Standard Class,JK-15370,Jay Kimmel,Email,United States,New York City,New York,...,573.174,7,0.1,63.6860,21/8/2019,28/08/2019,Standard Processing,NaN,NaN,NaN

In [14]:
final_merge.insert(2, "order_date", final_merge["order_date_x"])
final_merge.drop(["order_date_x", "order_date_y"], axis=1, inplace=True)
final_merge.head(15)

,index,order_id,order_date,ship_mode_x,customer_id,customer_name,origin_channel,country/region,city,state,...,product_id,sales,quantity,discount,profit,on_truck_scan_date,ship_mode_y,ready_to_ship_date,pickup_date,arrival_scan_date
0,27,CA-2019-121755,16/1/2019,Second Class,EH-13945,Eric Hoffmann,Email,United States,Los Angeles,California,...,TEC-AC-10003027,90.570,3,0.0,11.7741,23/01/2019,Standard Processing,NaN,NaN,NaN
1,26,CA-2019-121755,16/1/2019,Second Class,EH-13945,Eric Hoffmann,Email,United States,Los Angeles,California,...,OFF-BI-10001634,11.648,2,0.2,4.2224,23/01/2019,Standard Processing,NaN,NaN,NaN
2,45,CA-2019-118255,11/3/2019,First Class,ON-18715,Odella Nelson,Sales,United States,Eagan,Minnesota,...,TEC-AC-10000171,45.980,2,0.0,19.7714,13/03/2019,Express,NaN,NaN,NaN
3,46,CA-2019-118255,11/3/2019,First Class,ON-18715,Odella Nelson,Sales,United States,Eagan,Minnesota,...,OFF-BI-10003291,17.460,2,0.0,8.2062,13/03/2019,Express,NaN,NaN,NaN
4,48,CA-2019-169194,20/6/2019,Standard Class,LH-16900,Lena Hernandez,Email,United States,Dover,Delaware,...,TEC-AC-10002167,45.000,3,0.0,4.9500,26/06/2019,Standard Processing,NaN,NaN,NaN
5,49,CA-2019-169194,20/6/2019,Standard Class,LH-16900,Lena Hernandez,Email,United States,Dover,Delaware,...,TEC-PH-10003988,21.800,2,0.0,6.1040,26/06/2019,Standard Processing,NaN,NaN,NaN
6,60,CA-2019-111682,17/6/2019,First Class,TB-21055,Ted Butterfield,Email,United States,Troy,New York,...,TEC-AC-10002167,30.000,2,0.0,3.3000,19/06/2019,Express,NaN,NaN,NaN
7,57,CA-2019-111682,17/6/2019,First Class,TB-21055,Ted Butterfield,Email,United States,Troy,New York,...,OFF-PA-10001569,32.400,5,0.0,15.5520,19/06/2019,Express,NaN,NaN,NaN
8,59,CA-2019-111682,17/6/2019,First Class,TB-21055,Ted Butterfield,Email,United States,Troy,New York,...,OFF-PA-10000587,14.560,2,0.0,6.9888,19/06/2019,Express,NaN,NaN,NaN
9,56,CA-2019-111682,17/6/2019,First Class,TB-21055,Ted Butterfield,Email,United States,Troy,New York,...,OFF-ST-10000604,208.560,6,0.0,52.1400,19/06/2019,Express,NaN,NaN,NaN
10,61,CA-2019-111682,17/6/2019,First Class,TB-21055,Ted Butterfield,Email,United States,Troy,New York,...,OFF-BI-10001460,48.480,4,0.2,16.3620,19/06/2019,Express,NaN,NaN,NaN
11,62,CA-2019-111682,17/6/2019,First Class,TB-21055,Ted Butterfield,Email,United States,Troy,New York,...,OFF-AR-10001868,1.680,1,0.0,0.8400,19/06/2019,Express,NaN,NaN,NaN
12,58,CA-2019-111682,17/6/2019,First Class,TB-21055,Ted Butterfield,Email,United States,Troy,New York,...,FUR-CH-10003968,319.410,5,0.1,7.0980,19/06/2019,Express,NaN,NaN,NaN
13,63,CA-2018-135545,24/11/2018,Standard Class,KM-16720,Kunst Miller,Email,United States,Los Angeles,California,...,TEC-AC-10004633,13.980,2,0.0,6.1512,NaN,NaN,NaN,NaN,NaN
14,65,CA-2018-135545,24/11/2018,Standard Class,KM-16720,Kunst Miller,Email,United States,Los Angeles,California,...,OFF-PA-10003892,146.730,3,0.0,68.9631,NaN,NaN,NaN,NaN,NaN

In [15]:
final_merge[final_merge['ship_mode_y'].isnull()]

,index,order_id,order_date,ship_mode_x,customer_id,customer_name,origin_channel,country/region,city,state,...,product_id,sales,quantity,discount,profit,on_truck_scan_date,ship_mode_y,ready_to_ship_date,pickup_date,arrival_scan_date
13,63,CA-2018-135545,24/11/2018,Standard Class,KM-16720,Kunst Miller,Email,United States,Los Angeles,California,...,TEC-AC-10004633,13.980,2,0.0,6.1512,NaN,NaN,NaN,NaN,NaN
14,65,CA-2018-135545,24/11/2018,Standard Class,KM-16720,Kunst Miller,Email,United States,Los Angeles,California,...,OFF-PA-10003892,146.730,3,0.0,68.9631,NaN,NaN,NaN,NaN,NaN
15,64,CA-2018-135545,24/11/2018,Standard Class,KM-16720,Kunst Miller,Email,United States,Los Angeles,California,...,OFF-BI-10001078,25.824,6,0.2,9.3612,NaN,NaN,NaN,NaN,NaN
16,66,CA-2018-135545,24/11/2018,Standard Class,KM-16720,Kunst Miller,Email,United States,Los Angeles,California,...,FUR-FU-10000397,79.760,4,0.0,22.3328,NaN,NaN,NaN,NaN,NaN
22,104,US-2018-156867,13/11/2018,Standard Class,LC-16870,Lena Cacioppo,Email,United States,Aurora,Colorado,...,TEC-AC-10001552,238.896,6,0.2,-26.8758,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9986,9413,CA-2018-164777,27/1/2018,First Class,SC-20305,Sean Christensen,Email,United States,Los Angeles,California,...,FUR-CH-10002024,2803.920,5,0.2,0.0000,NaN,NaN,NaN,NaN,NaN
9987,9426,CA-2017-116246,12/9/2017,Second Class,LW-17215,Luke Weiss,Email,United States,New York City,New York,...,FUR-CH-10002024,3785.292,6,0.1,420.5880,NaN,NaN,NaN,NaN,NaN
9988,9429,CA-2017-152100,11/5/2017,Standard Class,VW-21775,Victoria Wilson,Sales,United States,Huntsville,Texas,...,FUR-CH-10000015,1212.960,8,0.3,-69.3120,NaN,NaN,NaN,NaN,NaN
9990,9541,CA-2018-135727,11/5/2018,Second Class,PS-18970,Paul Stevenson,Facebook,United States,Phoenix,Arizona,...,FUR-CH-10004540,191.968,7,0.2,16.7972,NaN,NaN,NaN,NaN,NaN
9992,9787,US-2017-114377,5/11/2017,First Class,BG-11035,Barry Gonzalez,Email,United States,Hampton,Virginia,...,FUR-CH-10004754,149.900,5,0.0,40.4730,NaN,NaN,NaN,NaN,NaN

In [16]:
## fill null values from ship_mode:y with values from ship_mode_x
final_merge['ship_mode_y'] = final_merge['ship_mode_y'].fillna(final_merge['ship_mode_x'])

## check there are no null values in ship_mode_y
final_merge[final_merge['ship_mode_y'].isnull()]

Empty DataFrame
Columns: [index, order_id, order_date, ship_mode_x, customer_id, customer_name, origin_channel, country/region, city, state, postal_code, region, category, sub-category, product_id, sales, quantity, discount, profit, on_truck_scan_date, ship_mode_y, ready_to_ship_date, pickup_date, arrival_scan_date]
Index: []

[0 rows x 24 columns]

In [17]:
#final_merge.insert(2, "ship_mode", final_merge["ship_mode_y"])
#final_merge.drop(["ship_mode_x", "ship_mode_y"], axis=1, inplace=True)
final_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9996 entries, 0 to 9995
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   index               9996 non-null   int64
 1   order_id            9996 non-null   object
 2   order_date          9996 non-null   object
 3   ship_mode_x         9996 non-null   object
 4   customer_id         9996 non-null   object
 5   customer_name       9996 non-null   object
 6   origin_channel      9996 non-null   object
 7   country/region      9996 non-null   object
 8   city                9996 non-null   object
 9   state               9996 non-null   object
 10  postal_code         9985 non-null   float64
 11  region              9996 non-null   object
 12  category            9996 non-null   object
 13  sub-category        9996 non-null   object
 14  product_id          9996 non-null   object
 15  sales               9996 non-null   float64
 16  quantity            9996 non-null   int64
 17  discount            9996 non-null   float64
 18  profit              9996 non-null   float64
 19  on_truck_scan_date  5901 non-null   object
 20  ship_mode_y         9996 non-null   object
 21  ready_to_ship_date  418 non-null    object
 22  pickup_date         418 non-null    object
 23  arrival_scan_date   668 non-null    object
dtypes: float64(4), int64(2), object(18)
memory usage: 1.8+ MB

In [20]:
final_merge['order_date'] = pd.to_datetime(final_merge["order_date"], format="%d/%m/%Y")
final_merge['ready_to_ship_date'] = pd.to_datetime(final_merge["ready_to_ship_date"], format="%d/%m/%Y")
final_merge['pickup_date'] = pd.to_datetime(final_merge["pickup_date"], format="%d/%m/%Y")
final_merge['arrival_scan_date'] = pd.to_datetime(final_merge["arrival_scan_date"], format="%d/%m/%Y")
final_merge['on_truck_scan_date'] = pd.to_datetime(final_merge["on_truck_scan_date"], format="%d/%m/%Y")

In [21]:
final_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9996 entries, 0 to 9995
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   index               9996 non-null   int64
 1   order_id            9996 non-null   object
 2   order_date          9996 non-null   datetime64[ns]
 3   ship_mode_x         9996 non-null   object
 4   customer_id         9996 non-null   object
 5   customer_name       9996 non-null   object
 6   origin_channel      9996 non-null   object
 7   country/region      9996 non-null   object
 8   city                9996 non-null   object
 9   state               9996 non-null   object
 10  postal_code         9985 non-null   float64
 11  region              9996 non-null   object
 12  category            9996 non-null   object
 13  sub-category        9996 non-null   object
 14  product_id          9996 non-null   object
 15  sales               9996 non-null   float64
 16  quantity            9996 non-null   int64
 17  discount            9996 non-null   float64
 18  profit              9996 non-null   float64
 19  on_truck_scan_date  5901 non-null   datetime64[ns]
 20  ship_mode_y         9996 non-null   object
 21  ready_to_ship_date  418 non-null    datetime64[ns]
 22  pickup_date         418 non-null    datetime64[ns]
 23  arrival_scan_date   668 non-null    datetime64[ns]
dtypes: datetime64[ns](5), float64(4), int64(2), object(13)
memory usage: 1.8+ MB

In [ ]:
%store clean_orders
%store clean_order_process
%store clean_intern_study
%store clean_campaign