In [1]:
# imports

# standard import of pandas
import pandas as pd

In [2]:
# getting dataframes

%store -r start_orders
%store -r start_order_process
%store -r start_intern_study
%store -r start_campaign

In [3]:
clean_orders = start_orders.copy()
clean_order_process = start_order_process.copy()
clean_intern_study = start_intern_study.copy()
clean_campaign = start_campaign.copy()

In [4]:
# function to make all the columns lower and snake case

def columns_format(data_frame):
	data_frame.columns = data_frame.columns.str.lower()
	data_frame.columns = data_frame.columns.str.replace(" ", "_")

In [5]:
columns_format(clean_orders)
columns_format(clean_order_process)
columns_format(clean_intern_study)
columns_format(clean_campaign)
clean_orders.head(1)

,index,order_id,order_date,ship_mode,customer_id,customer_name,origin_channel,country/region,city,state,postal_code,region,category,sub-category,product_id,sales,quantity,discount,profit
0,27,CA-2019-121755,16/1/2019,Second Class,EH-13945,Eric Hoffmann,Email,United States,Los Angeles,California,90049.0,West,Special Projects Muesil,Gluten Free,TEC-AC-10003027,90.57,3,0.0,11.7741

In [1]:
# dropping columns in orders.csv

clean_orders.drop(["customer_id", "customer_name", "origin_channel","country/region", "city", "postal_code", "category", "sub-category", "product_id", "sales", "quantity", "discount", "profit"], axis=1, inplace=True)
clean_orders.head(2)

NameError: name 'clean_orders' is not defined

In [7]:
# dropping duplicates in intern data

clean_intern_study.drop_duplicates(inplace=True)
clean_intern_study.head(2)

         order_id ready_to_ship_date pickup_date
0  CA-2019-116540         02/09/2019  03/09/2019
2  CA-2019-129847         04/09/2019  04/09/2019

In [8]:
# dropping columns in campaign data

clean_campaign.drop(["customer_name"], axis=1, inplace=True)
clean_campaign.head(2)

         order_id arrival_scan_date
0  CA-2019-109666        03/05/2019
1  CA-2019-138933        03/05/2019

In [9]:
%store clean_orders
%store clean_order_process
%store clean_intern_study
%store clean_campaign

Stored 'clean_orders' (DataFrame)
Stored 'clean_order_process' (DataFrame)
Stored 'clean_intern_study' (DataFrame)
Stored 'clean_campaign' (DataFrame)