In [1]:
%store -r final_merge

In [3]:
final_merge

,order_id,order_date,state,region,ship_mode,ready_to_ship_date,pickup_date,arrival_scan_date
0,CA-2017-100006,2017-09-07,New York,East,Standard Class,NaT,NaT,NaT
1,CA-2017-100090,2017-07-08,California,West,Standard Class,NaT,NaT,NaT
2,CA-2017-100293,2017-03-14,Florida,South,Standard Class,NaT,NaT,NaT
3,CA-2017-100328,2017-01-28,New York,East,Standard Class,NaT,NaT,NaT
4,CA-2017-100363,2017-04-08,Arizona,West,Standard Class,NaT,NaT,NaT
...,...,...,...,...,...,...,...,...
5005,US-2020-168802,2020-11-03,Washington,West,Standard Processing,2020-11-09,2020-11-12,NaT
5006,US-2020-169320,2020-07-23,Indiana,Central,Standard Processing,NaT,2020-07-29,NaT
5007,US-2020-169488,2020-09-07,Rhode Island,East,Express,NaT,2020-09-09,NaT
5008,US-2020-169502,2020-08-28,Wisconsin,Central,Standard Processing,NaT,2020-09-02,NaT
5009,US-2020-169551,2020-07-07,Pennsylvania,East,Express,NaT,2020-07-10,NaT

In [6]:
final_merge['order_prep_time']=final_merge['ready_to_ship_date'] - final_merge['order_date']
final_merge

,order_id,order_date,state,region,ship_mode,ready_to_ship_date,pickup_date,arrival_scan_date,order_prep_time
0,CA-2017-100006,2017-09-07,New York,East,Standard Class,NaT,NaT,NaT,NaT
1,CA-2017-100090,2017-07-08,California,West,Standard Class,NaT,NaT,NaT,NaT
2,CA-2017-100293,2017-03-14,Florida,South,Standard Class,NaT,NaT,NaT,NaT
3,CA-2017-100328,2017-01-28,New York,East,Standard Class,NaT,NaT,NaT,NaT
4,CA-2017-100363,2017-04-08,Arizona,West,Standard Class,NaT,NaT,NaT,NaT
...,...,...,...,...,...,...,...,...,...
5005,US-2020-168802,2020-11-03,Washington,West,Standard Processing,2020-11-09,2020-11-12,NaT,6 days
5006,US-2020-169320,2020-07-23,Indiana,Central,Standard Processing,NaT,2020-07-29,NaT,NaT
5007,US-2020-169488,2020-09-07,Rhode Island,East,Express,NaT,2020-09-09,NaT,NaT
5008,US-2020-169502,2020-08-28,Wisconsin,Central,Standard Processing,NaT,2020-09-02,NaT,NaT
5009,US-2020-169551,2020-07-07,Pennsylvania,East,Express,NaT,2020-07-10,NaT,NaT