In [1]:
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [2]:
%store -r  final_merge

In [8]:
#creating new dataframe
orders_weekdays = final_merge.copy()

orders_weekdays.head(5)
orders_weekdays.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5010 entries, 0 to 5009
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            5010 non-null   object
 1   order_date          5010 non-null   datetime64[ns]
 2   state               5010 non-null   object
 3   region              5010 non-null   object
 4   ship_mode           5010 non-null   object
 5   ready_to_ship_date  204 non-null    datetime64[ns]
 6   pickup_date         3003 non-null   datetime64[ns]
 7   arrival_scan_date   333 non-null    datetime64[ns]
dtypes: datetime64[ns](4), object(4)
memory usage: 313.2+ KB

In [10]:
#creating weekdays for orders

orders_weekdays['order_day'] = orders_weekdays['order_date'].dt.day_name()

In [26]:
orders_weekdays.order_day.value_counts()

order_day
Thursday     885
Tuesday      884
Wednesday    846
Friday       791
Monday       730
Saturday     458
Sunday       416
Name: count, dtype: int64

In [27]:
orders_weekdays.order_day.size

5010

In [34]:
orders_weekdays.order_day.isna().sum()

0

In [29]:
orders_weekdays.order_day.nunique()

7

In [30]:
orders_weekdays.order_day.mode()

0    Thursday
Name: order_day, dtype: object

In [31]:
# creating weekend days for orders

orders_weekdays['order_weekend'] = orders_weekdays['order_day'].isin(['Saturday', 'Sunday']).astype(int)

In [32]:
orders_weekdays.order_weekend.head(5)

0    0
1    1
2    0
3    1
4    1
Name: order_weekend, dtype: int64

In [35]:
orders_weekdays.order_weekend.isna().sum()

0

In [37]:
orders_weekdays.order_weekend.describe()

count    5010.000000
mean        0.174451
std         0.379535
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000
Name: order_weekend, dtype: float64

DESCRIPTIVE STATISTICS

In [39]:
orders_weekdays.describe()

,order_date,ready_to_ship_date,pickup_date,arrival_scan_date,order_weekend
count,5010,204,3003,333,5010.000000
mean,2019-05-08 11:57:24.790419200,2020-07-07 01:03:31.764705792,2020-03-07 00:00:00.000000256,2019-10-14 19:36:12.972973056,0.174451
min,2017-01-03 00:00:00,2019-09-02 00:00:00,2019-01-07 00:00:00,2019-05-03 00:00:00,0.000000
25%,2018-05-31 00:00:00,2019-09-24 00:00:00,2019-09-20 00:00:00,2019-09-09 00:00:00,0.000000
50%,2019-07-10 00:00:00,2020-11-12 00:00:00,2020-03-25 00:00:00,2019-10-21 00:00:00,0.000000
75%,2020-05-19 18:00:00,2020-11-23 00:00:00,2020-09-18 00:00:00,2019-12-16 00:00:00,0.000000
max,2020-12-30 00:00:00,2020-12-07 00:00:00,2021-01-06 00:00:00,2020-05-15 00:00:00,1.000000
std,NaN,NaN,NaN,NaN,0.379535

0    0
1    1
2    0
3    1
4    1
Name: order_weekend, dtype: int64

In [18]:
orders_weekdays.order_weekend.nunique()

2

0    0
Name: order_weekend, dtype: int64

###VISUALIZATIONS###

In [40]:
%store orders_weekdays

Stored 'orders_weekdays' (DataFrame)