In [1]:
import pandas as pd

In [4]:
%store -r  final_merge

In [5]:
final_merge['order_date'].head()

0   2017-09-07
1   2017-07-08
2   2017-03-14
3   2017-01-28
4   2017-04-08
Name: order_date, dtype: datetime64[ns]

In [6]:
final_merge['order_day_of_week'] = final_merge['order_date'].dt.day_name()

In [7]:
final_merge['order_day_of_week']. head()

0    Thursday
1    Saturday
2     Tuesday
3    Saturday
4    Saturday
Name: order_day_of_week, dtype: object

In [9]:
final_merge.head()

,order_id,order_date,state,region,ship_mode,ready_to_ship_date,pickup_date,arrival_scan_date,order_day_of_week
0,CA-2017-100006,2017-09-07,New York,East,Standard Class,NaT,NaT,NaT,Thursday
1,CA-2017-100090,2017-07-08,California,West,Standard Class,NaT,NaT,NaT,Saturday
2,CA-2017-100293,2017-03-14,Florida,South,Standard Class,NaT,NaT,NaT,Tuesday
3,CA-2017-100328,2017-01-28,New York,East,Standard Class,NaT,NaT,NaT,Saturday
4,CA-2017-100363,2017-04-08,Arizona,West,Standard Class,NaT,NaT,NaT,Saturday

In [10]:
final_merge['order_weekend'] = final_merge['order_day_of_week'].isin(['Saturday', 'Sunday']).astype(int)

In [11]:
final_merge.head()

,order_id,order_date,state,region,ship_mode,ready_to_ship_date,pickup_date,arrival_scan_date,order_day_of_week,order_weekend
0,CA-2017-100006,2017-09-07,New York,East,Standard Class,NaT,NaT,NaT,Thursday,0
1,CA-2017-100090,2017-07-08,California,West,Standard Class,NaT,NaT,NaT,Saturday,1
2,CA-2017-100293,2017-03-14,Florida,South,Standard Class,NaT,NaT,NaT,Tuesday,0
3,CA-2017-100328,2017-01-28,New York,East,Standard Class,NaT,NaT,NaT,Saturday,1
4,CA-2017-100363,2017-04-08,Arizona,West,Standard Class,NaT,NaT,NaT,Saturday,1