In [13]:
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [14]:
%store -r  final_merge
%store -r orders_years

In [15]:
orders_months = orders_years.copy()

In [16]:
orders_months['order_month'] = orders_months['order_date'].dt.month

In [17]:
orders_months.order_month.value_counts()

order_month
11    753
12    702
9     689
10    417
5     369
6     364
3     354
4     343
8     341
7     338
1     178
2     162
Name: count, dtype: int64

In [18]:
orders_months.describe()

,order_date,ready_to_ship_date,pickup_date,arrival_scan_date,order_weekend,order_year,order_month
count,5010,204,3003,333,5010.000000,5010.000000,5010.000000
mean,2019-05-08 11:57:24.790419200,2020-07-07 01:03:31.764705792,2020-03-07 00:00:00.000000256,2019-10-14 19:36:12.972973056,0.174451,2018.742914,7.811776
min,2017-01-03 00:00:00,2019-09-02 00:00:00,2019-01-07 00:00:00,2019-05-03 00:00:00,0.000000,2017.000000,1.000000
25%,2018-05-31 00:00:00,2019-09-24 00:00:00,2019-09-20 00:00:00,2019-09-09 00:00:00,0.000000,2018.000000,5.000000
50%,2019-07-10 00:00:00,2020-11-12 00:00:00,2020-03-25 00:00:00,2019-10-21 00:00:00,0.000000,2019.000000,9.000000
75%,2020-05-19 18:00:00,2020-11-23 00:00:00,2020-09-18 00:00:00,2019-12-16 00:00:00,0.000000,2020.000000,11.000000
max,2020-12-30 00:00:00,2020-12-07 00:00:00,2021-01-06 00:00:00,2020-05-15 00:00:00,1.000000,2020.000000,12.000000
std,NaN,NaN,NaN,NaN,0.379535,1.118893,3.289320

In [8]:
orders_months['order_month'].mode()

0    11
Name: order_month, dtype: int32

In [19]:
f1 = sns.barplot(x=orders_months['regions'], y = orders_months['order_month'], ax=ax[0,0]) # creates barchart for number of views
f1.tick_params(axis='x', labelrotation=90) # sets the label y-axis
f1.set(xlabel=None) # sets the x-axis label
f1.set_ylabel("Number of orders per month", fontsize = 10) # limits the x-axis values from 0 to 1000000
f1.set_title("Orders per month and region", fontsize = 15);  # sets title for subplot

KeyError: 'regions'

In [21]:
%store orders_months

Stored 'orders_months' (DataFrame)