In [1]:
import pandas as pd

In [2]:
%store -r  final_merge

In [3]:
final_merge.head()

,order_id,order_date,state,region,ship_mode,ready_to_ship_date,pickup_date,arrival_scan_date
0,CA-2017-100006,2017-09-07,New York,East,Standard Class,NaT,NaT,NaT
1,CA-2017-100090,2017-07-08,California,West,Standard Class,NaT,NaT,NaT
2,CA-2017-100293,2017-03-14,Florida,South,Standard Class,NaT,NaT,NaT
3,CA-2017-100328,2017-01-28,New York,East,Standard Class,NaT,NaT,NaT
4,CA-2017-100363,2017-04-08,Arizona,West,Standard Class,NaT,NaT,NaT

In [5]:
final_merge['arrival_scan_date'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 5010 entries, 0 to 5009
Series name: arrival_scan_date
Non-Null Count  Dtype
--------------  -----
333 non-null    datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 39.3 KB

In [6]:
#creating weekdays for arrival scan

final_merge['arrival_scan_date_weekday'] = final_merge['arrival_scan_date'].dt.day_name()

In [7]:
# creating weekend days for arrival scan dates


final_merge['arrival_scan_date_weekend'] = final_merge['arrival_scan_date_weekday'].isin(['Saturday', 'Sunday']).astype(int)

In [8]:
final_merge.head()

,order_id,order_date,state,region,ship_mode,ready_to_ship_date,pickup_date,arrival_scan_date,arrival_scan_date_weekday,arrival_scan_date_weekend
0,CA-2017-100006,2017-09-07,New York,East,Standard Class,NaT,NaT,NaT,NaN,0
1,CA-2017-100090,2017-07-08,California,West,Standard Class,NaT,NaT,NaT,NaN,0
2,CA-2017-100293,2017-03-14,Florida,South,Standard Class,NaT,NaT,NaT,NaN,0
3,CA-2017-100328,2017-01-28,New York,East,Standard Class,NaT,NaT,NaT,NaN,0
4,CA-2017-100363,2017-04-08,Arizona,West,Standard Class,NaT,NaT,NaT,NaN,0