In [3]:
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [4]:
%store -r  final_merge
%store -r  orders_months

In [25]:
final_merge['ready_to_ship_date'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 5010 entries, 0 to 5009
Series name: ready_to_ship_date
Non-Null Count  Dtype
--------------  -----
204 non-null    datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 39.3 KB

In [39]:
#creating new dataframe without NaNs

ready_df = pd.DataFrame(final_merge['ready_to_ship_date']).copy()
ready_df= ready_df.dropna(axis=0, ignore_index=True)

In [40]:
ready_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 1 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ready_to_ship_date  204 non-null    datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 1.7 KB

In [41]:
ready_df.head(20)

   ready_to_ship_date
0          2019-09-24
1          2019-09-30
2          2019-09-16
3          2019-09-23
4          2019-09-09
5          2019-10-04
6          2019-09-05
7          2019-09-06
8          2019-10-01
9          2019-09-11
10         2019-09-16
11         2019-09-13
12         2019-09-02
13         2019-09-09
14         2019-09-13
15         2019-09-09
16         2019-09-30
17         2019-09-12
18         2019-09-24
19         2019-09-06

In [44]:
#Creating weekdays for ready-to-ship-dates

ready_df['ready_day'] = ready_df['ready_to_ship_date'].dt.day_name()

In [45]:
ready_df['ready_day'].value_counts()

ready_day
Monday       93
Friday       31
Tuesday      29
Thursday     28
Wednesday    23
Name: count, dtype: int64

In [49]:
ready_df.mode()

  ready_to_ship_date ready_day  ready_weekend
0         2020-11-16    Monday              0

In [46]:
##Creating weekend days for ready-to-ship-dates

ready_df['ready_weekend'] = ready_df['ready_day'].isin(['Saturday', 'Sunday']).astype(int)

In [50]:
ready_df.columns

Index(['ready_to_ship_date', 'ready_day', 'ready_weekend'], dtype='object')

In [51]:
#creating years
ready_df['ready_year'] = ready_df['ready_to_ship_date'].dt.year

In [53]:
ready_df.ready_year.value_counts()

ready_year
2020    140
2019     64
Name: count, dtype: int64

In [54]:
#creating months

ready_df['ready_month'] = ready_df['ready_to_ship_date'].dt.month

In [55]:
ready_df.ready_month.value_counts()

ready_month
11    130
9      59
12     10
10      5
Name: count, dtype: int64

In [47]:
%store ready_df

Stored 'ready_df' (DataFrame)