In [2]:
import pandas as pd

In [3]:
%store -r  final_merge

In [4]:
final_merge.head()

,order_id,order_date,state,region,ship_mode,ready_to_ship_date,pickup_date,arrival_scan_date
0,CA-2017-100006,2017-09-07,New York,East,Standard Class,NaT,NaT,NaT
1,CA-2017-100090,2017-07-08,California,West,Standard Class,NaT,NaT,NaT
2,CA-2017-100293,2017-03-14,Florida,South,Standard Class,NaT,NaT,NaT
3,CA-2017-100328,2017-01-28,New York,East,Standard Class,NaT,NaT,NaT
4,CA-2017-100363,2017-04-08,Arizona,West,Standard Class,NaT,NaT,NaT

In [5]:
final_merge['ready_to_ship_date'].head()

0   NaT
1   NaT
2   NaT
3   NaT
4   NaT
Name: ready_to_ship_date, dtype: datetime64[ns]

In [6]:
#Creating weekdays for ready-to-ship-dates

final_merge['ready_day_of_week'] = final_merge['ready_to_ship_date'].dt.day_name()

In [14]:
##Creating weekend days for ready-to-ship-dates

final_merge['ready_weekend'] = final_merge['ready_day_of_week'].isin(['Saturday', 'Sunday']).astype(int)

In [15]:
#final_merge['ready_day_of_week'] = final_merge['ready_day_of_week'].fillna(final_merge['order_day_of_week']+1)

#final_merge[final_merge['ready_day_of_week'].isnull()]

,order_id,order_date,state,region,ship_mode,ready_to_ship_date,pickup_date,arrival_scan_date,ready_day_of_week,ready_weekend
0,CA-2017-100006,2017-09-07,New York,East,Standard Class,NaT,NaT,NaT,NaN,0
1,CA-2017-100090,2017-07-08,California,West,Standard Class,NaT,NaT,NaT,NaN,0
2,CA-2017-100293,2017-03-14,Florida,South,Standard Class,NaT,NaT,NaT,NaN,0
3,CA-2017-100328,2017-01-28,New York,East,Standard Class,NaT,NaT,NaT,NaN,0
4,CA-2017-100363,2017-04-08,Arizona,West,Standard Class,NaT,NaT,NaT,NaN,0
...,...,...,...,...,...,...,...,...,...,...
5004,US-2020-168690,2020-01-07,Florida,South,Standard Processing,NaT,2020-01-15,2020-01-20,NaN,0
5006,US-2020-169320,2020-07-23,Indiana,Central,Standard Processing,NaT,2020-07-29,NaT,NaN,0
5007,US-2020-169488,2020-09-07,Rhode Island,East,Express,NaT,2020-09-09,NaT,NaN,0
5008,US-2020-169502,2020-08-28,Wisconsin,Central,Standard Processing,NaT,2020-09-02,NaT,NaN,0
5009,US-2020-169551,2020-07-07,Pennsylvania,East,Express,NaT,2020-07-10,NaT,NaN,0